<footer class="footer">
    <%= link_to(image_tag("ahrq_footer_left.jpg", alt: "AHRQ Footer Left"), 'http://www.ahrq.gov/') %>
    <%= image_tag("ahrq_footer_right.png", alt: "AHRQ Footer Right") %>
    <nav>
        <ul>
            <li><%= link_to "AHRQ Home", 'http://www.ahrq.gov/' %></li>
            <li><%= link_to "Questions?", 'https://info.ahrq.gov/cgi-bin/ahrq.cfg/php/enduser/std_alp.php' %></li>
            <li><%= link_to "Contact AHRQ", 'http://www.ahrq.gov/info/customer.htm' %></li>
            <li><%= link_to "Site Map", 'http://www.ahrq.gov/sitemap.htm' %></li>
            <li><%= link_to "Accessibility", 'http://www.ahrq.gov/accessibility.htm' %></li>
            <li><%= link_to "Privacy Policy", 'http://www.ahrq.gov/news/privacy.htm' %></li>
            <li><%= link_to "Freedom of Information Act", 'http://www.ahrq.gov/news/foia.htm' %></li>
            <li><%= link_to "Disclaimers", 'http://www.ahrq.gov/news/disclaim.htm' %></li>
            <li><%= link_to "Plain Writing Act", 'http://www.hhs.gov/open/recordsandreports/plainwritingact/index.html' %></li>
            <li><%= link_to "U.S. Department of Health & Human Services", 'http://www.hhs.gov/' %></li>
            <li><%= link_to "The White House", 'http://www.whitehouse.gov/' %></li>
            <li><%= link_to "USA.gov: The U.S. Government's Official Web Portal", 'http://www.usa.gov/' %></li>
        </ul>
    </nav>
    <small>
        Agency for Healthcare Research and Quality  540 Gaither Road Rockville, MD 20850  Telephone: (301) 427-1364
    </small>
</footer>
