<!DOCTYPE html>
<html>
<head>
  <title>Systematic Review Data Repository | <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", 
                                            "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= image_tag("banner.jpg", alt: "SRDR Testing") %>
<%= yield %>

</body>
</html>
